.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.redux-section {
  display: flex;
  justify-content: space-around;
}

.redux-button {
  padding: 8px 38px;
  font-size: 17px;
  font-family: Arial;
  text-decoration: none;
  background-color: #282c34;
  display: inline-block;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 28px;
  color: #fafafa;
  margin-left: 20px;
  margin-right: 20px;
}

.redux-button:hover {
  background-color: #45acc9;
}

.redux-button:active {
  position: relative;
  top: 1px;
}
